.App {
  text-align: center;
}

body{

  background: rgba(0, 0, 255, 0.722); 
}

@font-face{

  font-family: IBM;
  src: url("/public/Fonts/IBM/IBMPlexSansArabic-Regular.ttf");
  weight:500;
}

@font-face{

  font-family: IBM;
  src: url("/public/Fonts/IBM/IBMPlexSansArabic-Light.ttf");
  weight:400;
}

@font-face{

  font-family: IBM;
  src: url("/public/Fonts/IBM/IBMPlexSansArabic-Medium.ttf");
  weight:600;
}